---
import { Icon } from "astro-icon/components";
import SearchBar from "./SearchBar.astro";
import imgOcean from "@assets/ocean.jpg";
import { Picture } from "astro:assets";
---

<header
  class="relative w-full before:content-[''] before:absolute before:bottom-0 before:bg-black/20 before:w-full before:h-full before:-z-100"
>
  <Picture
    src={imgOcean}
    quality="high"
    formats={["webp", "avif", "jpeg"]}
    alt="Scene of the ocean floor with dark waters"
    class="absolute w-full h-full object-cover -z-1000"
  />

  <nav class="flex justify-center w-full h-20 border-b-1 border-white/50">
    <div class="w-full max-w-[1550px] flex items-center justify-between px-6">
      <a href="/" class="text-white font-bold text-3xl">Visualify</a>
      <a href="https://github.com/zRyzeh/visualify" target="_blank">
        <Icon class="h-8 w-8" name="github" color="white" />
      </a>
    </div>
  </nav>

  <section class="h-[420px] flex justify-center items-center px-6">
    <section class="flex flex-col gap-8">
      <h1 class="text-white text-3xl md:text-4xl font-semibold">
        Search free photos and videos.
      </h1>

      <SearchBar />
    </section>
  </section>
</header>
